
{% extends "base.html" %}
{% block page_title %} Garam Kabar - About {% endblock %}

{% block content %}

<BR>
<p style="font-size:139%; margin-left:1.5em;">About Garam Kabar</p> <BR>
<p style="font-size:100%; margin-left:2em;margin-right:10em;text-align:justify"> 
Garam Kabar is a community ranked India news site. Users submit websites and blogs 
with India news and information from all around the web. Top posts ranked by
the community reach the front page.  GK is a <a href="http://www.reddit.com">Reddit</a> /
<a href="http://news.ycombinator.com">Hacker News</a> clone.
GaramKabar.com is a free, community run, open source website. Source code of the
website is hosted at <a href="http://github.com/svrishi/garamkabar">github</a>.
Contributions to the website are open to all.  If you are interested please join us 
by subscribing to the <a href="http://groups.google.com/group/garamkabar">Garamkabar Google group</a>.
</p>

<BR>
<p style="font-size:139%; margin-left:1.5em;">Planned features</p> <BR>
<p style="font-size:100%; margin-left:2em;margin-right:10em;text-align:justify"> 
* Disqus commenting system support<BR>
* Flag/warn incorrect submissions<BR>
* Ask the community posts<BR>
* Users profile page<BR>
</p>

<BR>
<p style="font-size:139%; margin-left:1.5em;">Credits</p> <BR>
<p style="font-size:100%; margin-left:2em;margin-right:10em;text-align:justify">
<a href="http://appengine.google.com">Google App Engine</a>: GK is hosted on App Engine.<BR>
<a href="http://djangoproject.com">Django</a>: Powered by Django<BR>
<a href="http://developer.yahoo.com/yui">Yahoo! UI Library</a>: YUI for Reset, Fonts, Grids CSS<BR>
<a href="http://www.jquery.com">JQuery</a>: Javascript Library<BR>
<a href="http://www.icojoy.com/articles/25/">Icojoy</a>: Icons<BR>
<a href="http://www.selenic.com/mercurial">Mercurial</a>, <a href="http://git.or.cz/">Git</a>: Source code management<BR>
<a href="http://www.assembla.com">Assembla</a>: Issue tracking, project hosting<BR>
</p>

<BR>
<p style="font-size:139%; margin-left:1.5em;">Contact</p> <BR>
<p style="font-size:100%; margin-left:2em;margin-right:10em;text-align:justify">
Email: admin AT garamkabar DOT com
</p>

{% endblock %}
