
{% extends "base.html" %}
{% load kabar_extras %}

{% block page_title %} Garam Kabar {% endblock %}

{% block content %}

{% if debug %}

	<BR><BR>
	{% if ruser %}
		{% ifequal comment.posted_by_ruser.entry_id ruser.entry_id %}
		<H3> Edit comment: </H3><BR>
		{% else %}
		<H3>Reply to comment:</H3><BR>
		{% endifequal %}
		<H3>{{comment.text}}</H3>
		<BR><BR>
		<form action="." method="POST">
		<textarea rows="8" cols="80" name="ctext">{% ifequal comment.posted_by_ruser.entry_id ruser.entry_id %}{{comment.text}}{% endifequal %}</textarea>
		<BR><BR> <input type="submit" value="Submit" />
		</form>
	{% else %}
		<H3> Please sign-in to post comments.</H3>
	{% endif %}
	<BR><BR>
{% endif %}

{% endblock %}
